@model List<BookModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
</div>
<div class="sava-body">
    <p>
        <ol>
            @foreach (var book in Model) {
            <li>
                @book.Title, @book.Author.Forename @book.Author.Surname, @book.ISBN, @book.FirstPublished
                @if (book.Genres.Count > 0)
                {
                    <i>(@string.Join(", ", book.Genres.Select(x => x.Description)))</i>
                }
                @if (book.NumberOfReviews > 0)
                {
                    if (book.NumberOfReviews == 1)
                    {
                        <strong>- @Html.ActionLink("1 review", "Index", "Review", new { bookId = book.Id })</strong>
                    }
                    else
                    {
                        <strong>- @Html.ActionLink($"{book.NumberOfReviews} reviews", "Index", "Review", new { bookId = book.Id })</strong>
                    }
                }
            </li>
            }
        </ol>
    </p>
</div>
